<!-- Toolbar -->
<div class="toolbar">
  <div class="tittle" class="tool-tittle">
    <h1>Angular　始動</h1>
  </div>
  <div id="loginInfo" class="login-info">
    <p>{{login.getName()}}</p>
  </div>
</div>

<div id="toolbarMargin" class="toolbar-margin">
</div>

<div id="divLink" class="">
  <div>
    <button class="btn btn-info btn-outline-dark" (click)="clickLintBtn('list')">リスト画面</button>
  </div>
</div>

<div id="errMsgArea">
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
  <h1>フッター</h1>
</footer>